.container {
    margin-top: 20px;
}
.validation {
    color: white;
    background-color: green;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}
.in_valid {
    color: white;
    background-color: red;
    padding: 10px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
form {
    margin: 20px;
}
input[type="submit"] {
    background-color: limegreen;
    color: white;
    border: 1px solid darkgreen;
}