<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Validation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -                          <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <div class="in_valid">            <!-- loop through the messages -->
                    <p>{{message}}</p> 
                </div>                    <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endwith %}
        <form action="/validate" method="POST" class="form-group">
            <div class="form-group">
                Email Address: <input type="email" class="form-group" name="email">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>